body {
  padding: 20px;
}
div {
  background: #99ff99;
  padding: 5px;
  margin-bottom: 10px;
  white-space: nowrap; 
}
div:after {
  content: " (supported)";
}
div.fail {
  width: 100% !important;
  background: #ff6666 !important;
}
div.fail:after {
  content: " (NOT supported)";
} 
@media only screen and (max-width: 320px) {
   body { 
      font-size: 1em; 
   }
}
@media only screen and (max-width: 720px) {
   body { 
      font-size: 2em; 
   }
}
@media only screen and (max-width: 1210px) {
   body { 
      font-size: 3em; 
   }
}
@media only screen and (max-width: 1720px) {
   body { 
      font-size: 5em; 
   }
}
@media only screen and (max-width: 2420px) {
   body { 
      font-size: 8em; 
   }
}
@media only screen and (max-width: 4220px) {
   body { 
      font-size: 13em; 
   }
}

#vw { 	width: 55vw; }
#percentage{ 	width:50% ;  height:10%  ;   background: #9999FF; } /* 50% - percentage */
#pixel{ 	width:400px ; }/* pixels (device pixels) */
#em{ 	width:20em  ;   } /*relative unit*/
#rem{ 	width:20rem  ;   } /*root em*/
#vw{ 	width:55vw  ;   background: #9999FF; } /*viewport width*/
#vh{ 	width:60vh  ; height:10vh  ;   background: #9999FF;  } /*viewport height*/
#vmin{ 	width:60vmin  ; height:10vmin  ;   background: #9999FF;  } /*smaller of vw or vh*/
#vmax{ 	width:60vmax  ;   height:10vmax  ;   background: #9999FF; } /*larger of vw or vh*/
#inch{ 	width:4in  ;   } /*inches*/
#cm{ 	width:20cm  ;   } /*centimeters*/
#mm{ 	width:200mm  ;   } /*millimeters*/
#pt{ 	width:120pt  ;   } /*points*/
#pc{ 	width:40pc  ;   } /*picas*/
#ex{ 	width:60ex  ;   } /*x-height*/
#ch{ 	width:60ch  ;   } /*based on width of zero (0) character*/